<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table>
<!--    строка-->
    <tr>
<!--        столбцы-->
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Возраст</td>
        <td>Средний балл</td>
    </tr>
    {% for student in students %}
    <tr>
<!--        столбцы-->
        <td>{{ student.firstname }}</td>
        <td>{{ student.lastname }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.rate }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
